body{
  margin: 0;
}
h1 {
  font-family: 'Permanent Marker', cursive;
}
.postHeader{
  font-size: 50px;
  text-align: center;
}

.containerFormContainer{
  border: black 5px solid;
  background-image: url('http://hbu.h-cdn.co/assets/16/16/980x656/gallery-1461101411-succulent-colors.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:600px;
  width:90%;
  margin: auto;
}

.formContainer {
  margin-top: 80px;
  background-color: rgba(163,121,167,0.8);
  font-family: 'Economica', sans-serif;
  width:60%;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 20px;
  padding-left: 10px;
  border-radius: 10px;
}

.form input {
  font-family: 'Economica', sans-serif;
  font-size: 20px;
}
button {
  background-color: white;
  margin-top: 15px;
  margin-bottom: 10px;
  font-family: 'Economica', sans-serif;
  font-size: 20px;
  border-radius: 10px;
}
button:hover {
  background-color: #7dc9ab;
  color:white;
}
